/* TYPEFACE IMPORTS */
/* Crimson Pro, serif, 200, 300 */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;1,300&display=swap');

/* AR One Sans, sans, 400 */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Crimson+Pro:ital,wght@0,300;1,300&display=swap');

/* STYLESHEET */

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    scroll-behavior: smooth;
} */

:link, :visited, body {
    color: rgb(243, 252, 255);
}

h1, h2, h3 {
    font-family: "Crimson Pro", serif;
    font-weight: 200;
    text-transform: uppercase;
}

h4, h5, h6 {
    font-family: "AR One Sans", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

nav {
    display: flex;
    font-family: "Crimson Pro", serif;
    font-size: 18pt;
    justify-content: center;
    padding-top: 90px;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 3;
}

nav > div {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#logotype {
    padding: 0;
}

ul {
    list-style: none;
    text-align: right;
}

a {
    padding: 0 1px;
    position: relative;
    text-decoration: none;
}

nav a:after, .footerItems a:after {
    background-color: rgb(235, 192, 0);
    bottom: -9px;
    color: inherit;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transition: width 360ms cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 0;
}

nav a:active, .footerItems a:active {
    color: rgb(235, 192, 0);
}

nav a:hover:after, .footerItems a:hover:after {
    width: 100%;
}

li {
    display: inline-block;
    transition: color 150ms linear;
}

li:hover {
    color: rgb(235, 192, 0);
}

main {
    background: rgb(243, 252, 255);
    color: rgb(48, 48, 48);
    margin-bottom: 180px;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

#top {
    background: rgb(48, 48, 48);
    font-family: "Crimson Pro", serif;
    height: 510px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

#top > .open {
    align-items: center;
    display: flex;
    filter: blur(0);
    font-size: 48pt;
    height: 100%;
    justify-content: center;
    min-width: 81%;
    text-align: center;
}

#top .subtitle {
    font-family: "Crimson Pro", serif;
    font-size: 21pt;
    padding-top: 6px;
    text-transform: none;
}

#middle {
    margin: 510px auto 0 auto;
    width: 90%;
}

#middle > .projects {
    padding: 90px 0;
}

.projects {
    color: rgb(48, 48, 48);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 45px;
}

video {
    max-width: 100%;
}

.project {
    position: relative;
}

.titles h1 {
    font-size: 21pt;
}

.titles h6 {
    font-size: 9pt;
}

footer {
    background: rgb(48, 48, 48);
    bottom: 0;
    font-weight: 200;
    height: 180px;
    position: fixed;
    width: 100%;
    z-index: 0;
}

.footerItems {
    align-items: center;
    display: flex;
    font-size: 15pt;
    height: 100%;
    margin: 0 auto;
    max-width: fit-content;
    text-transform: uppercase;
}

.footerItems a {
    color: inherit;
    transition: color 180ms linear;
}

.footerItems a:hover {
    color: rgb(235, 192, 0);
}


/* PROJECTS */

main .hero {
    background-attachment: fixed;
    background-position: center -120px;
    background-size: cover;
    height: 75vh;
    max-width: 100%;
}

main .hero.p1 {
    background-image: url("../imgs/comm/Timberland/poster.png");
}

main .hero.p2 {
    background-image: url("../imgs/comm/One/ONE_poster.png");
}

main .hero.p3 {
    background-image: url("../imgs/comm/Promo/poster.png");
}

main .proj {
    font-size: 16pt;
}

main .title {
    margin: 45px auto 45px 31.9%;
    width: fit-content;
}

main h1 {
    font-size: 72pt;
}

main h4 {
    font-size: 18pt;
    line-height: 6pt;
}

main h5 {
    line-height: 28pt;
}

main .desc {
    margin: 0 auto;
    width: 36%;
}

.desc a {
    color: rgb(235, 192, 0);
}

sup {
    font-size: 9pt;
    text-transform: uppercase;
}

main .gallery {
    display: grid;
    gap: 6px;
    margin: 90px auto;
    max-width: 100%;
    position: relative;
    width: 90%;
}

.gallery.bi {
    grid-template-columns: repeat(2, 1fr);
}

.gallery .wide {
    grid-column: 1/3;
}

.gallery.process {
    border-radius: 3px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 5%;
}

.gallery.exp {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
    padding-bottom: 5%;
}

.secTitle {
    line-height: normal;
    margin-top: -27px;
    position: absolute;
}

.gallery video, .gallery img {
    border-radius: 3px;
    max-width: 100%;
}

/* archives */
#top > .archDesc {
    filter: blur(0);
    display: grid;
    gap: 0 21px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18pt;
    line-height: 1.25;
    margin: 153px auto 0 auto;
    width: 63%;
}

main .gallery.archive {
    color: rgb(48, 48, 48);
    grid-template-columns: repeat(3, 1fr);
    padding: 90px 0;
    width: 100%;
}

.gallery .arch {
    height: fit-content;
    margin-bottom: 45px;
}

.arch.first {
    grid-column: 1/3;
}